<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-sm-5">
      <div class="navbar-header">
      Bonjour {{conseiller.prenom}} {{conseiller.nom}} </div>
      </div>
      <ul class="nav navbar-nav">
        <li routerLink="/conseiller/listeclients"><a>Gestion des Clients</a></li>        
        <li routerLink="/conseiller/Virement"><a >Virements</a></li>
        <li routerLink="/deconnexion"><a >Deconnexion</a></li>

      </ul>   
    </div>
  </nav>

